:root {
  --pulse-color: 0, 166, 62;
}
.line-card {
  width: 8.5rem;
  height: 10px;
  z-index: 0;
}

.pulse {
  animation: pulse-animation 0.8s infinite;
}

@keyframes pulse-animation {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(var(--pulse-color), 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(var(--pulse-color), 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(var(--pulse-color), 0);
  }
}
